Data Cleaning & EDA

1. Importing libraries and our raw data

In [1]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
advanced_batting = pd.read_csv('datasets/raw_advanced_batting.csv')
standard_batting = pd.read_csv('datasets/raw_standard_batting.csv')
value_batting = pd.read_csv('datasets/raw_value_batting.csv')

In [3]:
advanced_batting.head()

,Rk,Name,Age,Tm,PA,rOBA,Rbat+,BAbip,ISO,HR%,...,LD%,GB%,FB%,GB/FB,Pull%,Cent%,Oppo%,WPA,cWPA,RE24
0,1,Cory Abbott\abbotco01,25,CHC,3,0.267,55.0,0.500,0.000,0.0%,...,0.0%,100.0%,0.0%,NaN,50.0%,50.0%,0.0%,0.0,0.0%,-0.1
1,2,José Abreu\abreujo02,34,CHW,659,0.358,126.0,0.293,0.219,4.6%,...,21.7%,47.3%,25.6%,0.90,25.2%,57.7%,17.1%,1.6,0.9%,30.1
2,3,Ronald Acuna Jr.\acunaro01,23,ATL,360,0.420,156.0,0.311,0.313,6.7%,...,29.0%,31.8%,30.9%,0.47,33.2%,55.3%,11.5%,2.6,1.4%,22.4
3,4,Willy Adames\adamewi01,25,TOT,555,0.358,124.0,0.331,0.219,4.5%,...,21.6%,37.1%,36.0%,0.59,30.7%,52.9%,16.4%,3.1,2.3%,16.9
4,5,Willy Adames\adamewi01,25,TBR,142,0.282,84.0,0.276,0.174,3.5%,...,18.5%,30.9%,39.5%,0.45,25.9%,56.8%,17.3%,0.3,0.2%,-1.0

In [4]:
standard_batting.head()

,Rk,Name,Age,Tm,Lg,G,PA,AB,R,H,...,CS,BB,SO,BA,OBP,SLG,OPS,OPS+,TB,GDP
0,1,Fernando Abad*\abadfe01,35.0,BAL,AL,2,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0
1,2,Cory Abbott\abbotco01,25.0,CHC,NL,8,3,3,0,1,...,0,0,1,0.333,0.333,0.333,0.667,81.0,1,0
2,3,Albert Abreu\abreual01,25.0,NYY,AL,3,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0
3,4,Bryan Abreu\abreubr01,24.0,HOU,AL,1,0,0,0,0,...,0,0,0,NaN,NaN,NaN,NaN,NaN,0,0
4,5,José Abreu\abreujo02,34.0,CHW,AL,152,659,566,86,148,...,0,61,143,0.261,0.351,0.481,0.831,126.0,272,28

In [5]:
value_batting.head()

,Rk,Name,Age,Tm,G,PA,Rbat,Rbaser,Rdp,Rfield,...,RAA,WAA,Rrep,RAR,WAR▼,waaWL%,162WL%,oWAR,dWAR,oRAR
0,1,Marcus Semien\semiema01,30,TOR,162,724,26,4,2,12,...,49,5.0,23,72,7.3,0.530,0.530,6.0,1.8,60
1,2,Carlos Correa\correca01,26,HOU,148,640,25,-2,-1,20,...,50,5.2,21,71,7.2,0.534,0.531,5.2,2.9,51
2,3,Juan Soto*\sotoju01,22,WSN,151,654,57,-3,-1,4,...,51,5.0,22,73,7.1,0.534,0.532,6.8,-0.2,69
3,4,Vladimir Guerrero Jr.\guerrvl02,22,TOR,161,698,58,-2,-3,2,...,45,4.6,23,68,6.8,0.527,0.527,6.6,-0.7,66
4,5,Jose Ramirez#\ramirjo01,28,CLE,152,636,27,7,0,10,...,45,4.6,22,67,6.7,0.530,0.528,5.7,1.2,57

In [6]:
len(advanced_batting), len(standard_batting), len(value_batting)

(1267, 1724, 1508)

In [8]:
dataset = standard_batting.merge(value_batting, how='inner', on='Name')

In [9]:
dataset.head(), len(dataset)

(   Rk_x                     Name  Age_x Tm_x  Lg  G_x  PA_x   AB   R    H  \
 0     1  Fernando Abad*\abadfe01   35.0  BAL  AL    2     0    0   0    0
 1     2    Cory Abbott\abbotco01   25.0  CHC  NL    8     3    3   0    1
 2     3   Albert Abreu\abreual01   25.0  NYY  AL    3     0    0   0    0
 3     4    Bryan Abreu\abreubr01   24.0  HOU  AL    1     0    0   0    0
 4     5     José Abreu\abreujo02   34.0  CHW  AL  152   659  566  86  148

    ...  RAA  WAA  Rrep  RAR  WAR▼  waaWL%  162WL%  oWAR  dWAR  oRAR
 0  ...    0  0.0     0    0   0.0   0.500   0.500   0.0   0.0     0
 1  ...    0  0.0     0    0   0.0   0.504   0.500   0.0   0.0     0
 2  ...    0  0.0     0    0   0.0   0.500   0.500   0.0   0.0     0
 3  ...    0  0.0     0    0   0.0   0.500   0.500   0.0   0.0     0
 4  ...    7  0.9    22   29   3.0   0.505   0.505   3.1  -0.9    30

 [5 rows x 45 columns],
 1723)

In [10]:
batting = dataset.merge(advanced_batting, how='inner', on='Name')

In [11]:
batting.head(), len(batting)

(   Rk_x                        Name  Age_x Tm_x   Lg  G_x  PA_x   AB   R    H  \
 0     2       Cory Abbott\abbotco01   25.0  CHC   NL    8     3    3   0    1
 1     5        José Abreu\abreujo02   34.0  CHW   AL  152   659  566  86  148
 2     6  Ronald Acuna Jr.\acunaro01   23.0  ATL   NL   82   360  297  72   84
 3     8      Willy Adames\adamewi01   25.0  TOT  MLB  140   555  497  77  130
 4     8      Willy Adames\adamewi01   25.0  TOT  MLB  140   555  497  77  130

    ...    LD%     GB%    FB%  GB/FB  Pull%  Cent%  Oppo%  WPA  cWPA  RE24
 0  ...   0.0%  100.0%   0.0%    NaN  50.0%  50.0%   0.0%  0.0  0.0%  -0.1
 1  ...  21.7%   47.3%  25.6%   0.90  25.2%  57.7%  17.1%  1.6  0.9%  30.1
 2  ...  29.0%   31.8%  30.9%   0.47  33.2%  55.3%  11.5%  2.6  1.4%  22.4
 3  ...  21.6%   37.1%  36.0%   0.59  30.7%  52.9%  16.4%  3.1  2.3%  16.9
 4  ...  18.5%   30.9%  39.5%   0.45  25.9%  56.8%  17.3%  0.3  0.2%  -1.0

 [5 rows x 68 columns],
 1167)